:root {
  --titleColor: #3765B6;
  --quoteColor: #0094FF;
  --textColor: #ffffff;
  --fontFamily: 'Roboto', sans-serif;
}

.title {
  color: var(--titleColor);
  font-family: var(--fontFamily);
}

.quote {
  color: var(--quoteColor);
  font-family: var(--fontFamily);
}

.button{
  border: none;
  border-color: var(--titleColor);
  background-color: var(--titleColor);
  color: var(--textColor);
  font-family: var(--fontFamily);
  width:220px;
}
